{% extends 'base.html' %}
{% block start %}
    
    <h1 class="container">vegetables page</h1>
    <p class="container"><a href="/">home | </a>
    <a href="/login_page/">login_page | </a>
    <a href="/logout_page/">logout_page | </a>
    <a href="/house/">house | </a></p>

    <h1 class="container">Heading1</h1>
    <table border="2" class="container table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
        {% for student in student_list %}
            <tr>    
                <td>{{ student.student_id }}</td>
                <td>{{ student.student_name }}</td>
                <td>{{ student.student_email }}</td>
                <td>{{ student.student_age }}</td>
                <td>{{ student.student_address }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}