{% extends 'base.html' %}
{% block title%}Home{% endblock title %}
{% block body%}
<div class="container my-3">
    <div class="blog-post">
        <h1>This is blogpost page</h1>
            <h2 class="blog-post-title">{{post.title}}</h2>
            <p class="blog-post-meta">{{post.timeStamp}} <a href="/home/about/">{{post.author}}</a></p>
    
            <p>{{post.content}}</p>
            <hr>
    </div>
    <div class="container">
        <h2>Comments</h2>
       
      <form action="/postComment/" method="post">{% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Post Comment</label>
          <input type="text" name="comment" placeholder="Enter comment here " class="form-control">
        </div>
        <input type="hidden" name="postSno" value="{{post.sno}}">
        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
      </form>
      {% for comment in comments %}
      <div class="row my-3">
        <div class="col-md-1 bg-light ">
        <img src="/static/image/user.png" class="rounded mx-auto d-block w-100 p-2" alt="user">
        </div>
        <div class="col-md-11 bg-light ">
            <b>{{comment.user.username}}</b> at {{comment.timestamp}}
        <div> {{comment.comment}} </div>
    </div>
    </div>
      {% endfor %}

        
        <div class="row my-3">
            <div class="col-md-2 bg-success">Image here</div>
            <div class="col-md-10  bg-primary">Comment here</div>
        </div>
        <div class="row my-3">
            <div class="col-md-2 bg-success">Image here</div>
            <div class="col-md-10 bg-primary ">Comment here</div>
        </div>
        <div class="row my-3">
            <div class="col-md-2 bg-success">Image here</div>
            <div class="col-md-10 bg-primary ">Comment here</div>
        </div>
        <div class="row my-3">
            <div class="col-md-2 bg-success">Image here</div>
            <div class="col-md-10 bg-primary ">Comment here</div>
        </div>    
    </div>
</div>

{% endblock body %}