<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script> window.location="/shop";</script>
    <title>My Awsome Cart</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">My Awsome Cart</h1>
        <p class="lead">Welcome to My Awsome Cart!

            Discover the Ultimate Shopping Experience
            
            Welcome to a world of endless possibilities where your shopping desires come to life. At My Awsome Cart, we're dedicated to making your online shopping journey more delightful, convenient, and rewarding than ever before.</p>
        <hr class="my-4">
        <p>Thank you for choosing My Awsome Cart. Happy shopping!</p>
        <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog</a>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>