{% extends 'base.html' %}
{% block start %}
<div class="container mt-5">
    <form class="col-6 card mx-auto shadow-lg p-3" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="mb-3">
            <label class="form-label">Dish name</label>
            <input type="text" name="dish_name" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Dish description</label>
            <textarea name="dish_description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Dish image</label>
            <input type="file" name="dish_image" class="form-control">
        </div>
        <button class="btn btn-success">Add the Dish</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th class="col">#</th>
                <th class="col">Dish name</th>
                <th class="col">Dish description</th>
                <th class="col">Dish image</th>
            </tr>
        </thead>
        <tbody>
            {%for dis in dish%}
            <tr>
                <th class="row">{{forloop.counter}}</th>
                <th>{{dis.dish_name}}</th>
                <th>{{dis.dish_description}}</th>
                <th><img src="/media/ {{dis.dish_image}}" style="height:100px;"></th>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}